# React
node_modules/
dist/

# .NET
bin/
obj/
.vs/
BenchmarkDotNet.Artifacts/

# Environment variables
.env
.env.local

# VS Code
.vscode/

# Windows
Thumbs.db

#SQL
padel_booking_old.sql

# Runtime uploads
backend/wwwroot/uploads/
